 .subscribe-button {
        background-color: rgb(212, 18, 18);
        color: white;
        border: none;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 14px;
        padding-right: 14px;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 10px;
        transition: opacity 0.15s;

    
    }

    .subscribe-button:hover {
        opacity: 0.8;
    }

    .subscribe-button:active {
        opacity: 0.5;
    }

    .join-button {
        background-color: white;
        color: rgb(30, 118, 168);
        border-style: solid;
        border-width: 1px;
        border-color: rgb(30, 118, 168);;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 14px;
        padding-right: 14px;
        cursor: pointer;
        margin-right: 10px;
        transition: background-color 0.15s, color 0.15s

    }

    .join-button:hover {
        background-color: rgb(7, 95, 212);
        color: white;
    }

    .join-button:active {
        opacity: 0.7
    }

    .tweet-button {
        background-color: rgb(30, 155, 240);
        color: white;
        border: none;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 14px;
        padding-right: 14px;
        border-radius: 30px;
        font-weight: bold;
        cursor: pointer;
        transition: box-shadow 0.15s;
    }
    .tweet-button:hover {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);

    }